{%
    set default_settings = {
        'jdk': {
            'default_version': 8,
            'versions_map': {
                8: {
                    'pkg': 'oracle-java8-installer',
                    'install_dir': '/usr/lib/jvm/java-8-oracle'
                },
                7: {
                    'pkg': 'oracle-java7-installer',
                    'install_dir': '/usr/lib/jvm/java-7-oracle'
                },
            }
        }
    }
%}


{% set jdk_settings = salt['pillar.get']('jdk',
    default=default_settings.jdk, merge=True)  %}
